/* 
    Document   : pesquizas
    Created on : 13-abr-2012, 19:48:07
    Author     : dnl
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}
.estadoPendiente{
  border: 2px solid red;
  background-color: red;
  color: white;
}
.bordePendiente{
  border: 2px solid red;
}
.estadoRealizada{
  background-color: yellow;
  border: 2px solid yellow;
}
.bordeRealizada{
  border: 2px solid yellow;
}
.estadoCarta{
  background-color: blue;
  border: 2px solid blue;
  color:white;
}
.bordeCarta{
  border: 2px solid blue;
}
.estadoTurno{
  background-color: orange;
  border: 2px solid orange;
}
.bordeTurno{
  border: 2px solid orange;
}
.estadoFinalizada{
  background-color: green;
  border: 2px solid green;
  color:white;
}
.bordeFinalizada{
  border: 2px solid green;
}
.seleccionada{
  background-color: lightgray;
}