html, body, div, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, sans-serif;
	line-height: 2.0;
}

.head {
	background: #222;
	color: #ddd;
	padding: 0 20px;
}
.main {
	width: 800px;
	margin: 0 auto;
	padding: 20px;
}
.foot {
	width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	border-top: 1px solid #e6e6e6;
	color: #999;
	font-size: 0.875em;
}

code {
	font-family: Monaco, Verdana, Sans-serif;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

dfn {
 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
 color: #00620C;
 font-weight: bold;
 font-style: normal;
}
var {
 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
 color: #8F5B00;
 font-weight: bold;
 font-style: normal;
}
samp {
 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
 color: #480091;
 font-weight: bold;
 font-style: normal;
}
kbd {
 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
 color: #A70000;
 font-weight: bold;
 font-style: normal;
}

.box {
	border: 1px solid #ccc;
	padding: 10px;
}
/* NOTIFICATIONS */
.notification {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin:  10px 0 20px 0;
	padding: 5px 20px;
}
.notification p, .notification ul {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	text-indent: none;
}
.attention {
    background: #fffbcc;
    border-color: #e6db55;
    color: #666452;
}
.information {
	background: #dbe3f0;
	border-color: #a2b4ee;
	color: #383b46;
}
.success {
	background: #d5f0ce;
	border-color: #9adf8f;
	color: #556652;
}
.error {
	background-color: #f0cece;
	border-color:  #df8f8f;
	color:  #533232;
}
p.error {
	color: #ff3f3f;
	background-color: transparent;
	font-size: 75%;
}
.notification h1 {
	margin: 0;
}
.notification.small {
	margin-top: 7px;
	padding: 0 20px;
}
.notification.small p {
	margin: 0 !important;
	font-size: 85%;
	line-height: 2.5;
}